<!-- Landing page where users log in -->
<md-whiteframe flex="40" layout="column" id="formBox" class="md-whiteframe-2dp">
    <md-content flex layout="column" id="loginForm">
        <h4 id="loginHeading">Log In</h4>
        <md-input-container md-no-float class="md-block">
            <label>Email</label>
            <input type="email" ng-model="ac.loginEmail">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
            <label>Password</label>
            <input type="password" ng-model="ac.loginPassword">
        </md-input-container>
        <br>
        <md-button class="md-raised md-primary" ng-click="ac.login()">Login</md-button>
        <md-button class="md-raised" ng-click="ac.move()">Register</md-button>
    </md-content>
</md-whiteframe>

    

